<div id="<%= dom_id course %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">About:</strong>
    <%= course.about %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= course.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= course.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= course.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= course.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cover:</strong>
    <%= link_to course.cover.filename, course.cover, class: "text-gray-700 underline hover:no-underline" if course.cover.attached? %>
  </div>
</div>
